{%extends 'base/base.html'%}
{% load static %}

{%block menu%}
     <li ><a href="{% url 'index' %}">Home</a></li>
    <li class="active"><a href="{% url 'brand' %}">Brands</a></li>
    <li ><a href="{% url 'product' %}">Products</a></li>
    <li><a href="{% url 'cart' %}">Cart</a></li>
    <li><a href="#contact">Contact</a></li>
{%endblock%}


{%block section%}
<!-- section -->
    <div id="blog" class="section dark_bg layout_padding right_white">
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                    <div class="heading full text_align_center">
                        <h2 class="white_font full text_align_center">Our Brands</h2>
                    </div>
                </div>
            </div>
            <div class="row">
               {% for i in brand %}
               <div class="col-md-4 margin_top_30">
                   <a href="{% url 'branddetails' i.name %}">
                        <div class="full" style="overflow: hidden;">
                        <div class="full bl">
                            <img class="img-responsive" src="{% static 'makeup/images/b.png' %}" alt="#" />
                        </div>
                        <div class="full blog_blue text_align_center">

                            <h3 class="white_font">{{i.name|title}}</h3>
                            <p>{{i.origin|title}}</p>

                        </div>
               </div>
            </div>
                {%endfor %}

            </div>
        </div>
    </div>
    <!-- end section -->
{%endblock%}