{%extends 'base/base.html'%}
{% load static %}

{%block menu%}
    <li class="active"><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'brand' %}">Brands</a></li>
    <li><a href="{% url 'product' %}">Products</a></li>
    <li><a href="{% url 'cart' %}">Cart</a></li>
    <li><a href="#contact">Contact</a></li>
{%endblock%}

{%block slider_section%}

    <section class="slider_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full">
                        <h1 style="font-size: 39px;"><strong class="cur">Best</strong><br>For Cosmetic Boutique</h1>
                            <p> The best makeup brands natural, effective ingredients with nourishing vitamins and oils in skin care. </p>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full text_align_center">
                        <img class="slide_img" src="{% static 'makeup/images/slider_img.jpg' %}" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section -->
{%endblock%}

{%block section%}

<!-- section -->
    <div id="fruits" class="section dark_bg layout_padding left_white">
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                    <div class="heading full text_align_center">
                        <h2 class="white_font full text_align_center">Our Brands</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for i in brandi %}
               <div class="col-md-4 margin_top_30">
                   <div class="full" style="overflow: hidden;">
                        <div class="full bl">
                            <img class="img-responsive" src="" alt="#" />
                        </div>
                        <div class="full blog_blue text_align_center">
                            <h3 class="white_font">{{i.name |title}}</h3>
                            <p>({{i.num_products}})</p>

                        </div>
                   </div>
               </div>
                {%endfor%}
            </div>
        </div>
     </div>
    </div>
<!-- end section -->
{%endblock%}

