{%extends 'base/base.html'%}
{% load static %}

{%block menu%}
    <li ><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'brand' %}">Brands</a></li>
    <li class="active"><a href="{% url 'product' %}">Products</a></li>
    <li><a href="{% url 'cart' %}">Cart</a></li>
    <li><a href="#contact">Contact</a></li>
{%endblock%}

{%block section%}
<!-- section -->
    <div id="blog" class="section dark_bg layout_padding right_white">
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                    <div class="heading full text_align_center">
                        <h2 class="white_font full text_align_center">Our Brands</h2>
                    </div>
                </div>
            </div>

            <div class="row">
               {% for i in product%}

                   <div class="col-md-4 margin_top_30">
                       <a href="{%url 'prodetails' i.id %}">
                            <div class="full fr" style="overflow: hidden;">
                            <div class="full bl ">
                                <img class="img-responsive" src="{{i.image.url}}" alt="#" />
                            </div>
                            <div class="full blog_blue text_align_center">
                                <h3 class="white_font">{{i.name|title}}</h3>
                                <p>${{i.price}}</p>
                            </div>
                           </div>
                         </a>
                       <div class="full margin_top_30">
                           <button data-product={{i.id}} data-action="add" class="main_bt updated-cart" style="color:#fff;">Add to Cart</button>
                       </div>
                    </div>

               {%endfor%}
            </div>

        </div>
    </div>
    <!-- end section -->
{%endblock%}
